<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Lista de Convidados</title>
    </head>
    <body>
        <h1>Convidados</h1>
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>E-mail</th>
                    <th>Telefone</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="guest : ${guests}">
                    <td th:text="${guest.name}"></td>
                    <td th:text="${guest.email}"></td>
                    <td th:text="${guest.phone}"></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
